.all {
  padding: 20px;
}

.toggleBtn {
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
  background-color: lightgray;
  border-radius: 5px;
}

.toggleBtn.active {
  background-color: gray;
  color: white;
}

.CardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.loading {
  text-align: center;
  padding: 20px;
}
